# /etc/systemd/system/rust-hello-world.service
[Unit]
Description=Rust hello-world web application
After=syslog.target network.target

[Service]
Type=simple
User=pi
Group=pi
Environment="RUST_BACKTRACE=1"
Environment="RUST_HELLO_WORLD_REMOTE_SERVER_URL=https://SMA3xxxxxxxx5.lan/dyn/getDashValues.json"
Environment="RUST_HELLO_WORLD_REMOTE_SERVER_CERT=/some/location/that/survives/reboots/inverter-webui-cert.pem"
WorkingDirectory=/home/pi/hello_world/target/release/
ExecStart=/home/pi/hello_world/target/release/hello_world
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target