<!DOCTYPE html>
<html>
  <head>
    <title>Greeting</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/hello-rust/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/hello-rust/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/hello-rust/assets/favicon-16x16.png">
    <link rel="manifest" href="/hello-rust/assets/site.webmanifest">
  </head>
  <body>
    <h1>Hello, {{ name }}!</h1>
    <p>Your user ID is {{ user_id }}.</p>
  </body>
</html>
